---
layout: single
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  You can also find my articles on <u><a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

<div>
      <blockquote style="max-width: 80%">
        Maxime Baudette is a PhD student in the Electric Power and Energy
        Systems Department at the KTH Royal Institute of Technology,
        Stockholm, Sweden. He received the MSc degree in Electrical
        Engineering from KTH (Sweden) and Supélec (France) in 2013.
        Maxime is a member of the Smart Transmission System Laboratory
        (SmarTS-Lab) research group at KTH under the supervision of Luigi
        Vanfretti. He has keen interest in open source software, power system
        modeling and simulation (also Real-Time simulation),
        Hardware-in-the-Loop (HIL) approach, Wide-Area Monitoring Systems (WAMS).
      </blockquote>

      <hr>

      <h2>Publications</h2>

      <script src="https://bibbase.org/show?bib=http%3A%2F%2Fwww.baudette.fr%2Ffiles%2Fmaxime.bib&jsonp=1"></script>

</div>
